@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HermeneusOne";
    src: url("./style/fonts/HermeneusOne-Regular.ttf") format("ttf"),
        url("./style/fonts/HermeneusOne-Regular.ttf") format("ttf");
    font-style: normal;
}
